<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "PaüSiber" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <div class="main-container">
      <nav class="navbar">
        <div class="homepage">
          <%= link_to("Herkes için GNU/Linux", "/") %>
        </div>
        <div class="authors">
          <div class="author1">
            <%= link_to("Bora Tanrıkulu", "https://github.com/boratanrikulu/", target: "_blank") %>
          </div>
          <div class="author">
          </div>
          <div class="author">
            <%= link_to("Hasan Tezcan", "https://github.com/hasantezcan/", target: "_blank") %>
          </div>
        </div>
      </nav>
      <header>
          <a href="/">
            <div class="site-logo">
              <a href="https://pausiber.xyz/">
              <img src="logo.png" alt="pausiber-logo" class="pausiber-logo">
              </a>
            </div>
          </a>
          <div class="site-title">
            <h1>
              Herkes için GNU/Linux - PaüSiber
            </h1>
            <p class="site-desc">
              Topluluğumuz tarafından eğitimi verilen "Herkes için GNU/Linux" kursunun dokümanlarını içerir.
            </p>
          </div>
      </header>
      <%= yield %>
      <footer class="footer">

        <div class="hasantezcan">
          <p><strong>Hasan Tezcan</strong></p>
          <a class="footer-images" href="https://www.instagram.com/hasantezcan_/?hl=tr">
            <img src="https://img.icons8.com/ios/50/000000/instagram-new.png">
          </a>
          <a href="https://twitter.com/hasantezcann" class="footer-images">
            <img src="https://img.icons8.com/ios/50/000000/twitter.png">
          </a>
          <a href="https://hasantezcan.dev/" class="footer-images">
            <img src="https://img.icons8.com/ios/50/000000/domain.png">
          </a>
        </div>

        <div class="boratanrikulu">
          <p><strong>Bora Tanrıkulu</strong></p>
          <a class="footer-images" href="https://www.instagram.com/boratanrikulu/?hl=tr">
            <img src="https://img.icons8.com/ios/50/000000/instagram-new.png">
          </a>
          <a href="https://twitter.com/boratanrikulu_" class="footer-images">
            <img src="https://img.icons8.com/ios/50/000000/twitter.png">
          </a>
          <a href="https://boratanrikulu.dev/" class="footer-images">
            <img src="https://img.icons8.com/ios/50/000000/domain.png">
          </a>
        </div>

      </footer>
    </div>
  </body>
</html>
